ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(97, 97, 97);
    position: fixed;
    overflow: hidden;
    border: 10px ridge rgb(83, 197, 172);
}
li a {
    display: block;
   color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}
li {
   float: left;
    }

